div.conteiner{
    height: 30rem;
    width: 85rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
   
  }
  h1{
    
    width: 25rem;
    height: 3rem;
  }
  form.register-type{
    width: 47rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  }
  .register-type p{
    display: flex;
    width: 45rem;
    
  }
  
  .register-type label{
    width: 6rem;
    height: 1.5rem;
    text-align: right;
    justify-self: left;
    align-self: flex-end;
    
    
  }
  
  .register-type input,
  .register-type textarea{
    width: 20rem;
    margin-left: 2rem;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 18px;
    height: 1.5rem;
    
    outline: none;
    
    
  }
  .register-type textarea:focus,
  .register-type input:focus{
    
    border-bottom: 1px solid #005F40;
    transition: all 0.5s linear;
  }
  
  .register-type input[type="submit"] {
    background-color: #40942A;
    color: white;
    width: 14rem;
    height: 2.5rem;
    font-size: medium;
    padding: 0.5rem;
    align-self: flex-end;
    justify-self: flex-end;
  }
  
  .register-type input[type="submit"]:active{
    background-color: #005F40;
  }
  
  .button-send-types{
    height: 2rem;
    width: 1rem;
    background-color: #40942A;
    border: none;
    color: white;
    
    align-self: baseline;
    
  }
  
  .button-send-types :active{
    background-color: #005F40;
  }
  
  div.register-type {
   
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    height: 3rem;
    width: 20rem;
  }