@font-face {
    font-family: 'RobotoMono';
    src: url('../../fontes/Roboto-Thin.ttf');
}
body{
    font-family: 'RobotoMono' , monospace;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin: 0;
}
div#linhaVertical{
    height: 1.5rem;
    width: 0.1rem;
    
    border-right: 1px solid rgb(180, 180, 180);
    
}
div#cabecalho{
    width: 100%;
    height: 15%;
    background-color: #005F40;
    display: flex;
    justify-content: center;
}
div#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    
    border-bottom: 0.7px solid rgb(180, 180, 180);

}
div#vender{
    
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
div#comprar{
    height: 3rem;
    width: 11rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
div#estoque{
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#cadastrar{
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#financeiro{
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pagina de cadastro de tipos de produtos*/
div#conteiner{
    height: 30rem;
    width: 85rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.button-send{
    margin-top: 4rem;
    align-self: center;
    height: 2rem;
    width: 5rem;
}
    .button-send-tipos{
        height: 2rem;
        width: 5rem;
        background-color: #40942A;
        border: none;
        color: white;
    }
    .button-send-tipos:active{
        background-color: #005F40;
    }
.envelopeNomeTipo {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    box-sizing: border-box;
    height: 3rem;
    width: 20rem;
  }
  
  .nomeTipoProduto {
    
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-family: 'RobotoMono';
    font-size: 18px;
    height: 3.125rem;
    
    padding: 0.625rem 0rem;
    width: 20rem;
    outline: none;
  }
  
  
  
  .nomeTipoProduto::-webkit-nomeTipoProduto-placeholder {
    color: #AAA;
  }
  
  .nomeTipoProduto:focus::-webkit-nomeTipoProduto-placeholder {
    color: #005F40;
  }
  
  .nomeTipoProduto:focus+.underline {
    transform: scale(1);
  }
  
  .underline{
    background-color: #005F40;
    display: inline-block;
    height: 0.125rem;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 20rem;
  }
