{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/checkout_sales.css' %}">
</head>


<div class="center-content">
    <div class="content">
        {% if error %}
            
            <p class="warning-txt"> {{error}} </p>
            
        {% endif %}
        
        <h1>Deseja mesmo finalizar as vendas? </h1>

        <form action="." method="post" class="delete-type">
            {% csrf_token %}
            <input type="submit" value="Sim">
            <input type="reset" onclick="location.href='{% url 'sell_product' %}'" value="Não">
            
            
        </form>
        
        
    </div>
</div>

{% endblock %}