<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Base</title>
        <link rel="stylesheet" href="base.css">
    </head>
    <body>
        
        <div id="cabecalho">
            <img src="../../icones/CyberStock_Logo.jpg" width="105" height="105">
        </div>
        <div id="menu">
            <div id="vender">
                <h3 id="h3Vender">Vender</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="comprar">
                <h3>Comprar</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="estoque">
                <h3>Estoque</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="cadastrar">
                <h3>Cadastrar</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="financeiro">
                <h3>Financeiro</h3>
            </div>
        </div>
        <div id="conteudo">

        </div>
        
    </body>
    <style>
        
    </style>
</html>