<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Base</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        
        <div id="cabecalho">
            <img src="{% static 'icones/CyberStock_Logo.jpg'  %}" width="105" height="105">
        </div>
        <div id="menu">
            <div id="vender">
                <img src="{% static 'icones/cesta.jpg' %}" width=40 height=40>
                <h3 id="h3Vender">Vender</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="comprar">
                <img src="{% static 'icones/caixa.jpg' %}" width=40 height=40>
                <h3>Comprar</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="estoque">
                <img src="{% static 'icones/grid.jpg' %}" width=25 height=25>
                <h3>Estoque</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="cadastrar">
                <img src="{% static 'icones/mais.jpg'  %}" width=30 height=30>
                <h3>Cadastrar</h3>
            </div>
            <div id="linhaVertical"></div>
            <div id="financeiro">
                <img src="{% static 'icones/dollar.jpg'  %}" width=30 height=30>
                <h3>Financeiro</h3>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        
    </body>
    <style>
        
    </style>
</html>