{% extends "base/base.html" %}
{% load static %}
{% block conteudo %}

<div id="conteiner">

    <h1>Preencha os campos</h1>
    <div class="envelopeNomeTipo">
        <input class="nomeTipoProduto" placeholder="Digite o nome do tipo" type="text" >
        <span class="underline"></span>
    </div>
    <div class="envelopeNomeTipo">
        <input class="nomeTipoProduto" placeholder="Digite a descrição do tipo" type="text" >
        <span class="underline"></span>
    </div>
    <div class="button-send">
        <input type="submit" class="button-send-tipos" id="button-send-tipos" value="Cadastrar">
    </div>

</div>


{% endblock %}