{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- 
<div>
    {% for type in object_list %}
        <p>{{ type.name }}</p>
    {% endfor %}
</div>	
 -->

<head>
    <link rel="stylesheet" href="{% static 'css/product_types.css' %}">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<table class="table sticky">
	<tr>
        <th data-column="type" data-colname="type" data-order="desc">Tipo</th>
		<th data-column="brand" data-colname="brand" data-order="desc">Marca</th>							
		<th data-column="quantity" data-colname="quantity" data-order="desc">Quantidade</th>	
        <th data-column="price" data-colname="price" data-order="desc">Preço</th>
		<th colspan="3">Ação</th>
	</tr>
		
	<tbody id="myTable">
		{% for item in object_list %}
		<tr>
            <td>{{ item.product_type.name }}</td>
			<td>{{ item.brand }}</td>
			<td>{{ item.quantity_in_stock }}</td>
            <td>{{ item.price }}</td>
			<td>
                <a class="table-action-link" href="#"> ver lotes</a>
                <a class="table-action-link" href="{% url 'update_product' item.id %}"><img src="{% static 'icones/edit.png' %}" width=13 height=13> editar</a>
                <a class="table-action-link" href="#"><img src="{% static 'icones/trash.png' %}" width=13 height=13> excluir</a>
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}