{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/buy_product.css' %}">
</head>

<div class="container">
    <div class="input-fields">
        <h1>Preencha os campos</h1>
        <form method="post" class="form-buy-products">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="ADICIONAR">
        </form>
    </div>
    <div class="line"></div>
    <div class="added-sales">   
        
        <h1>Carrinho de compras</h1> 
        <table>
            <tr>
                <th>Tipo de Prod.</th>
                <th>Marca</th> 
                <th>Quantidade</th> 
                <th>Subtotal</th> 
                <th>Ação</th>
            </tr>
            <tbody id="myTable">
                {% for item in products %}
                <tr>
                    <td>{{ item.product.product_type.name }}</td>
                    <td>{{ item.product.brand }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.get_subtotal }}</td>
                    <td><a href="{% url 'delete_shopping_cart_product' item.id %}"><img src="{% static 'icones/trash.png' %}" width=13 height=13> excluir</a></td>
                </tr>
                {% endfor %}
            </tbody>
            
            
        </table>
        <a class="checkout-button" href="{% url 'checkout_shopping' %}">FINALIZAR COMPRAS</a>

    </div>
</div>

{% endblock %}
