div#conteiner{
    height: 30rem;
    width: 85rem;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.envelopeNomeTipo {
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    height: 3rem;
    width: 20rem;
  }
  
  .nomeTipoProduto {
    
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-family: 'RobotoMono';
    font-size: 18px;
    height: 3.125rem;
    
    padding: 0.625rem 0rem;
    width: 20rem;
    outline: none;
  }
  
  
  
  .nomeTipoProduto::-webkit-nomeTipoProduto-placeholder {
    color: #AAA;
  }
  
  .nomeTipoProduto:focus::-webkit-nomeTipoProduto-placeholder {
    color: #005F40;
  }
  
  .nomeTipoProduto:focus+.underline {
    transform: scale(1);
  }
  
  .underline{
    background-color: #005F40;
    display: inline-block;
    height: 0.125rem;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 20rem;
  }

  /*style of searchbar*/
.searchbar{
	width: 100%;
	max-width: 300px;
	display: inline-flex;
}

.searchbar__input {
	flex-grow: 1;
	padding: 10px;
	outline: none;
	border: 1px solid #009879;
	border-radius: 5px 0 0 5px;
	background: #f4faf9;
	transition: background 0.25s, box-shadow 0.25s;
}

.searchbar__input:focus{
	background: white;
	box-shadow: 0 0 2px #8cc6ba;
}

.searchbar__input::placeholder{
	color: #8cc6ba;
}

.searchbar__button {
	width: 40px;
	background: #009879;
	color: white;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	user-select: none;
}

/*style auf table*/
table{
	border-collapse: collapse;
	border: 0px solid;
	width: 100%;
}
tr:nth-of-type(odd){
	background-color: #A6F9AE;
}

tbody{
	font-size: 100%;
}
thead{
	background-color: #74BA62;
}
th{
	background-color: #74BA62;
}

td{
	text-align: center;
}

.table.sticky th{
	position: sticky;
	top: 0;
}
.table.sticky th::after{
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: black;
}

