@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body,
input,
textarea,
div,
span,
p,
b,
h1,
h2,
h3,
h4,
 h5{
    font-family: 'Roboto' , sans-serif;
}

body{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.page-header{
	width: 400px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-container{
	width: 400px;
	height: 400px;
  	padding: 10px;
  	margin: 10px;
  	border-radius:5px;
  	background-color: #005F40;
  	color: white;
  	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.box-container form{
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
    
}

.box-container p{
	display: flex;
	width: 85%;
	height: 10%;
	
    margin-top: 1rem;
}
.box-container input[type="email"],
.box-container input[type="password"],
.box-container input[type="text"]{
	width: 85%;
	margin-left: 2rem;
	border: none;
	border-bottom: 1px solid #CCC;
	color: #555;
	font-weight: 800;
	font-family: 'Roboto';
	font-size: 18px;
	height: 60%;
	outline: none;
	align-self: center;
}
.box-container label{
	width: 6rem;
	height: 1.5rem;
	text-align: right;
	justify-self: center;
	align-self: center;
	font-weight: 800;
}

.box-container input[type="submit"]{
	background-color: #40942A;
	border: none;
	color: white;
	padding: 0.5rem;
	font-size: medium;
	text-decoration: none;
	width: 90%;
	height: 15%;
    cursor: pointer;
    margin-top: 1rem;
}

span{
	color: red;
	margin: auto;
	height: 15%;
	width: 50%;
	font-weight: 800;
}


